* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("https://i.pinimg.com/originals/19/fc/21/19fc21dc1f8a339ea8f302c75320a28f.jpg");
    padding-bottom: 50px;
    
}

.navbar-brand {
    background-color: lightslategrey;
    font-size: 24px;
    
}

.form-group {
    margin-left:25px;
}

.btn {
    width: 100px;
    height:50px;
    background-color: lightslategrey;
    color: white;
}

h1 {
    color: lightslategrey;
    
}

.container {
    background-color: white;
    width:70vw;
    padding:50px;
    margin: 100px auto;
    
}

.img-fluid {
    margin: 20px;
    
}

.about-me-img {
    padding-right:20px;
    padding-bottom:10px;
    max-width: 50%;
    max-height: 50%;
}

footer {
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    background-color:lightslategrey;
    color: lightgray;
    text-align: center;
    height: 50px;
    border-top: 10px solid cyan;

}    

@media screen and (max-width: 768px){
    .container{
        margin: 50px auto;
    }
    
    
}

@media screen and (max-width: 400px){
    .container{
        width:100vw;
        margin: 50px auto;
       
    }
}